.distill-site-nav {
    color: #63431c; 
    background-color: #edd9c0;
    font-size: 15px;
    font-weight: 600;
}

/* .distill-site-nav {
    color: #d32127;
    background-color: #f2eed7;
    font-size: 15px;
    font-weight: 600;
    ackground-color: #a8b6bf;
}